
.main{
    width: 80%;
    background-color: #dee2e6;
    border-radius: 10px;
    border: 2px solid #222222;
    padding: 20px;
    margin: 3%;
    margin-left: 10%;
    padding-left: 10%;
}

.profile-row-content{
    width: 100%;
    padding-top: 30px;
}

.profile-bloko-column{
    padding-left: 15px;
    vertical-align: top;
}

.settings-title{
    width: 100%;
    font-size: 25px;
    font-weight: 400;
}

.settings{
    width: 90%;
    height: auto;
    margin-top: 30px;
    background-color: #f9f9f9;
}

.settings-block{
    width: 100%;
    height: 70px;
    border-width: 1px 0px 1px 0px;
    font-size: 17px;
    margin-top: -1px;
    border-color: #e7e7e7;
    border-style: solid;
    padding-top: 20px;
    padding-left: 20px;
}

.settings-text{
    float: left;
    width: 33%;
    height: 100%;
    text-align: left;
    padding-left: 5px;
}

.but:hover{
  cursor: pointer;
}



.delete-button{
    text-decoration: none;
    border:none;
    margin-top: 30px;
    color: #09f;
}

.set-param{
    display: none;
    background-color: inherit;
    border: none;
    height: 100%;
    margin-top: -10px;
}
