body {
  padding: 0px;
  margin: 0px;
}

.bg {
  position:fixed;
  background-image: url("123.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

label{
  font-size: 22px;
}
input{
  font-size: 16px;
}

.tablink {
  background-color: rgba(5,5,5,0.5);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tabcontent {
  color: white;
  display: none;
  height: 100%;
}

.menu{
  margin-left: 15%;
  padding-top: 12%;
  position: relative;
max-width: 30%;
}

/* Add styles to the form container */
.container {
  left: 0;
  max-width: 100%;
  min-height: 500px;
  padding: 25px;
  padding-top: 100px;
  background-color: rgba(5,5,5,0.8);
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 10px 0 30px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.a{
  text-align: center;
  width: 100px;
}

a{
  text-decoration: underline;
  color: white;
  font-size: 16 px;
}

/* Set a style for the submit button */
.btnLogin {
  font-size: 18px;
  background-color: red;
  color: white;
  margin: 25px auto;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btnSignUp {
  font-size: 18px;
  background-color: green ;
  color: white;
  margin: 25px auto;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
